.form-details{

background-color: #f2f2f2;
padding:50px 20px;

}

.form-details .field{
    display: flex;
    align-items: center;
    margin:20px 0;

}

label{
    font-weight: 500;
    width:20%;
}